<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
    <mat-card class="card_1" fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-content>
                <span class="card_1_title">PROJECTS</span>
                <br>
                <span class="card_1_data">42</span>
            </mat-card-content>
            <mat-card-content>
                <span>REVENUE</span>
                <br>
                <span>$1,000,000</span>
            </mat-card-content>
            <mat-card-content>
                <span>PERCENT VARIANCE</span>
                <br>
                <span>37%</span>
            </mat-card-content>
        </div>
    </mat-card>
    <google-map height="200px" width="100%" fxFlex="50">
       
    </google-map>

</div>